html {
    overflow-x: hidden; 
    overflow-y: auto;
}
#headingDiv {
	position: static;
	margin-left: 10px;
	margin-right: 10px;
}

#tabs {
	clear: all;
	position: static;
	margin-left: 10px;
	margin-right: 10px;
}

#tabs div {
	position: relative;
	height: auto;
	line-height: normal;
	padding-top: 5px;
	padding-bottom: 5px;
}

#tabs div.selected {
	padding-bottom: 6px;
	z-index: 2;
}

.TabPage {
	position: relative;
	top: -1px;
	left: auto;
	right: auto;
	bottom: auto;
	clear: left;
	margin-left: 10px;
	margin-right: 10px;
	padding: 10px;
	z-index: 1;
}

#locationDiv {
	margin-bottom: 10px;
}

#iframeDiv {
	position: static;
	width: 100%;
}

#summaryDiv {
	width: 100%;
	overflow-x: hidden; 
	overflow-y: auto;
	top: 10px;
}

#fileDiv {
	margin-bottom: 10px;
}

#sourceDiv {
	width: 100%;
}

.table th {
	border-top:0;
}

#code-detail {
	height: 88%;
    position: static;
}

#fileDiv, #sourceDiv {
    position: static;
}

#fileDiv {
    padding: 0;
}

#storeDiv {
	width: 100%;
}
