h1 {
	font-size: 32px;
	font-weight: bold;
}

#headingDiv {
	position: absolute;
	top: 0.5em;
	left: 1.5em;
	right: 1.5em;
	bottom: 0;
	line-height: 1.5em;
}

#warningDiv {
	display: none;
	float: right;
	background-color: #FFBFBF;
	border: 1px solid red;
	padding-left: 2px;
	padding-right: 2px;
}

/*******************************************************************************
browser tab
*/
input#location,button {
    border: 1px solid #666;
	margin-left: 1px;
	margin-right: 1px;
	color: #333;
}

input#location {
	width: 500px;
	height: 16px;
	margin-bottom: 0;
}

#iframeDiv {
	position: absolute;
	top: 3.5em;
	left: 1em;
	right: 1em;
	bottom: 1em;
}

iframe {
	width: 100%;
	height: 100%;
	border: 1px solid #d4d4d4;
}

/*******************************************************************************
summary tab
*/
#summaryDiv {
	position: absolute;
	top: 0em;
	left: 0em;
	right: 0em;
	bottom: 0em;
	overflow: auto;
}

th.tcenter, td.tcenter {
	text-align: center;
}

/*******************************************************************************
source tab
*/

#fileDiv, #sourceDiv {
	position: absolute;
	top: 3em;
	left: 0em;
	right: 0em;
	bottom: 0em;
	overflow: auto;
}

#fileDiv {
    font-size: 16px;
    font-weight: bold;
    padding: 15px;
    top: 0em;
    background-color:#fafafa;
}

#code-detail {
	left: 0;
	border-left:0;
}

#code-detail-body{ 
	position: absolute;
}

/*******************************************************************************
store tab
*/
#storeDiv {
	position: absolute;
	top: 4em;
	left: 1em;
	right: 1em;
	bottom: 1em;
	overflow: auto;
}

/*******************************************************************************
about tab
*/
p {
	margin-top: 0;
}

/*******************************************************************************
tabs
*/
#tabs {
	position: absolute;
	top: 5em;
	left: 1.5em;
	right: 1.5em;
	height: 2em;
	font-size: 14px;
	font-weight: bold;
}

#tabs div {
	background-color: white;
	position: relative;
	float: left;
	border: 1px solid #666;
	border-bottom-width: 0;
	cursor: pointer;
	margin-left: 0.5em;
	margin-right: 0.5em;
	padding-left: 1em;
	padding-right: 1em;
	height: 2em;
	z-index: 1;
	line-height: 1.8em;
}

#tabs div.selected {
	z-index: 3;
	cursor: default;
}

#tabs div.disabled { /* windows system color GrayText */
	color: #909090;
	cursor: default;
}

.TabPage {
	background-color: white;
	border: 1px solid #666;
	position: absolute;
	top: 7em;
	left: 1.5em;
	right: 1.5em;
	bottom: 1.5em;
	z-index: 2;
	padding: 1em;
	display: none;
}

#tabPages div.selected {
	display: block;
}